:root {
    --black: #333;
    --white: #fff;
    --bg-color: #eee;
    --dark-bg: rgba(0, 0, 0, .7);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .1rem solid #999;
}

body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.card {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}

.blue-text {
    color: #00BCD4
}

.form-control-label {
    margin-bottom: 0
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400
}

.btn-block {
    text-transform: uppercase;
    font-size: 15px !important;
    font-weight: 400;
    height: 43px;
    cursor: pointer
}

.btn-block:hover {
    color: #fff !important
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.message{
    text-align: center;
    background-color: orange;
    color: white;
    padding: 20px;
    height: 150px;
}

.search-input{
    width: 100% !important;
}


.edit-form-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    background-color: var(--dark-bg);
    padding: 2rem;
    display: none;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.edit-form-container form {
    width: 50rem;
    border-radius: .5rem;
    background-color: var(--white);
    text-align: center;
    padding: 1.5rem;
}

.edit-form-container form .box {
	width: 100%;
	background-color: var(--bg-color);
	border-radius: .5rem;
	margin: 0.3rem 0;
	font-size: 1.7rem;
	color: var(--black);
	padding: 1.2rem 1.4rem;
	text-transform: none;
}